* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

@keyframes blinkChildTd {
    0%{
      background-color: #ff3d50;
    }
    
    100%{
      background-color: #55d66b;
    }
}

@keyframes blinkParentTd {
    0%{
      background-color: #228B22;
    }
    100%{
      background-color: #B22222;
    }
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table.parentTable {
  border: 1;
  cellspacing: 0;
}

.enabled{
    background-color: #228B22;
}

.disabled{
    background-color:  #B22222;
}

td.parentTd {
  border: 2px solid black;
  font-size: 80px;
  color: 'black';
  width: 130px;
  height: 130px;
  text-align: center;
  vertical-align: center;
}

td.childTd {
  border: 2px solid black;
  font-size: 10px;
  color: 'black';
  border-radius: 10%;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: center;
}

#player {
  padding: 1rem;
  margin: auto;

}

.container {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  margin: 30px;

}

.button {
  margin: auto;

}


